<div class="navbar-top" [ngClass]="(customBackgroundColor$ | async) && (headerBackground$ | async)">
  <div class="logo">
    <span class="logo-text"></span>
  </div>

  <div class="buttons">
    <button mat-icon-button class="toggle-sidebar-folded" (click)="toggleSidebarFolded()">
      <mat-icon class="secondary-text">menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened" (click)="toggleSidebarOpened()">
      <mat-icon class="secondary-text">arrow_back</mat-icon>
    </button>

  </div>
</div>

<div
  class="navbar-scroll-container"
  [ngClass]="(customBackgroundColor$ | async) && (barBackground$ | async)"
  [perfectScrollbar]="{suppressScrollX: true}"
>

  <div class="navbar-content">
    <hare-layout-navigation-navbar class="material2" [pages]="navBar$ | async"></hare-layout-navigation-navbar>
  </div>
</div>
