<div class="page-layout simple left-sidebar">

    <!-- SIDEBAR -->
    <hare-sidebar class="sidebar" name="simple-left-sidebar-2" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content p-24" [perfectScrollbar]>
            <hare-demo-sidebar></hare-demo-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </hare-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" [perfectScrollbar]>

        <!-- HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                    (click)="toggleSidebar('simple-left-sidebar-2')">
                <mat-icon>menu</mat-icon>
            </button>

            <h2 class="m-0">Left sidebar with inner scroll</h2>

        </div>
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24">
            <hare-demo-content></hare-demo-content>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
